.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.container div:nth-child(1) {
  background: aqua;
  flex: 1 0 200px;
}

.container div:nth-child(2) {
  background: rgb(38, 114, 44);
}

.container div:nth-child(3) {
  background: rgb(57, 22, 114);
}

.container div:nth-child(4) {
  background: rgb(133, 45, 60);
}

.container div:nth-child(5) {
  background: rgb(209, 179, 12);
}
