body {
  padding: 0;
  margin: 0;
  background-image: url(../../img/resim4.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 3rem;
  background-color: azure;
  margin-top: 4rem;
  margin: 0.5rem;
}

.months {
  display: inline-block;
  width: 15%;
  background-color: rgb(193, 135, 222);
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-top: 5rem;
}

div h2 {
  background-color: azure;
  text-align: center;
  margin: 0;
}

div.seasons {
  display: inline-block;
  background-color: rgb(219, 222, 135);
  width: 15%;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.days {
  display: inline-block;
  background-color: rgb(135, 222, 210);
  width: 15%;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
