.price-list {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.price-list thead tr {
  background-color: #363535;
  font-weight: bold;
  color: white;
}

.price-list thead > tr > th:nth-child(1),
.price-list thead > tr > th:nth-child(2) {
  text-align: left;
}

.price-list thead > tr > th:nth-child(4),
.price-list thead > tr > th:nth-child(5) {
  text-align: right;
}

thead > tr :last-child {
  width: 4rem;
}

thead > tr > th {
  padding: 5px;
}

.table-body td {
  padding: 3px;
}

.table-body tr:hover {
  color: #459dd3;
  cursor: pointer;
}

.table-body tr:nth-child(odd) {
  background-color: #cdcbcb;
}

.table-body tr:nth-child(even) {
  background-color: #eeeded;
}

tbody td:nth-child(1),
tbody td:nth-child(2) {
  text-align: left;
}

tbody td:nth-child(3) {
  text-align: center;
}

tbody td:nth-child(4),
tbody td:nth-child(5) {
  text-align: right;
}

.table-body a {
  margin-left: 1rem;
  color: black;
}

.table-body a:visited {
  color: #e16060;
}

.table-body a:hover {
  color: #e88330;
}

#footer {
  background-color: #363535;
  color: white;
  text-align: right;
  font-weight: bold;
}

#footer td {
  padding: 5px;
}

#mode,
#mode2 {
  display: none;
}

#button {
  float: right;
}

.btn-mode {
  display: inline-block;
  background-color: #f07660;
  color: white;
  margin: 5px 5px;
  padding: 8px 10px;
}

.btn-mode:hover {
  color: #f7f5ab;
  cursor: pointer;
}

.btn-mode a {
  color: black;
}

.btn-mode a:visited {
  color: #646262;
}
